.reviewModalOutside{
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.reviewModalTop{
    border-top-right-radius: .5rem;
    border-top-left-radius: 3rem;
}

.reviewModalErrMessageContainer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewModalErrMessages{
    color: rgb(228, 64, 64);
}