.reviewCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: linear-gradient(to right, #e3e0df, #ff5101);
    border: 3px;
    align-items: center;
    margin: 14px;
    padding: 12px 2px 12px 2px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    transition: all .8s;
    transform: rotateX(45deg) rotateY(45deg);
    perspective: 800px;
    backface-visibility: hidden;
}

.reviewCard:hover{
    transform: rotate3d(0,0,0, 0deg);
    transition: all .8s;
}

.reviewCardTitle {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    margin-bottom: 2px;
    padding: 2px;
    justify-content: space-between;
    flex-direction: column;
    
}

.reviewCardTitleNameContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.reviewCardAvatarImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.reviewCardAvatarImg{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.reviewCardDescriptionContainer{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    overflow: auto;
    background-color: white;
}

.reviewCardDescription{
    width: 100%;
    height: 100%;
    padding: 2px;
}