.reviewAverageCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.reviewCardBorder {
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, #e1c7a8, #ff5101);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    box-shadow: 8px 10px 10px 5px rgba(221, 220, 220, 0.5);
    transition: all .8s;
}

.reviewCardBorder:hover {
    box-shadow: -3px -5px 5px 5px #ff5101;
}

.reviewAverageCard {
    width: 95%;
    height: 95%;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    background-color: white;
}

.reviewAverageCardTop {
    width: 100%;
    height: 50%;
    display: flex;
    border-top-left-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom: 2px solid black;
}

.reviewAverageCardNumberContainer {
    width: 50%;
    height: 100%;
    border-top-left-radius: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.reviewAverageCardNumberOuterCircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 15px;
}

.reviewAverageCardNumberInnerCircle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
}

.reviewAverageCardStatsContainer {
    width: 50%;
    height: 100%;
    border-top-right-radius: .5rem;
    
}

.reviewStatsInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

circle {
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 15px;
    stroke-dasharray: 500;
}

.circleSvg {
    position: absolute;
    bottom: 20;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@keyframes anim {
    0% {
        stroke-dashoffset: 500;
    }
}

.reviewFavoriteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.reviewFavoriteTitleContainer {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    border-bottom: 2px dotted black;
}

.reviewFavoriteTitleContainer>img {
    margin-right: 10px;
    border-right: 2px dotted black;
    padding: 5px;
}

.reviewFavoriteTitleContainer>h1 {
    font-size: 1.2rem;
}

.reviewFavoriteDataFlipCard{
    width: 100%;
    display: flex;
    background-color: transparent;
    perspective: 2000px;
    align-items: center;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: .5rem;
    flex-grow: 1;
    padding: 5px;
}

.reviewFavoriteDataFlipCardInner {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.reviewFavoriteDataFlipCard:hover .reviewFavoriteDataFlipCardInner{
    transform: rotateX(180deg)
}

.reviewFavoriteDataFlipCardFront, .reviewFavoriteDataFlipCardBack{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.reviewFavoriteDataFlipCardFront{
    display: flex;
    width: 98%;
    height: 100%;
    padding: 10px;
    align-items: center;
    border-bottom-right-radius: 3rem;
}
.reviewFavoriteDataFlipCardBack{
    width: 98%;
    height: 100px;
    padding: 10px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(180deg);
}
.reviewFavoriteDataFlipCardBack>p{
    font-size: 1.2rem;
    width: 100%;
    padding: 3px;
}

.reviewFavoriteDataImg{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 5px 5px rgba(216, 211, 211, 0.712);
    transition: all .8s;
}

.reviewFavoriteDataFront{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.num1Svg{
    background-color: #e3e3e3;
    border-radius: .5rem;
}
