
.reviewCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: linear-gradient(to right, #3b010a, #ff0019);
    border: 3px;
    align-items: center;
    margin: 14px;
    padding: 2px 0 2px 0;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.reviewCardTitle{
    display: flex;
}